body {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    color: var(--primary-font-color);
    background-color: var(--primary-bg-color);
}