:root {
  // fonts
  --main-font: Roboto, sans-serif;

  // text colors
  --black: #2c2c2c;

  // background colors
  --white: #fefefe;
  --shadow: radial-gradient(50% 50% at 50% 50%, #2F583F 0%, rgba(105, 105, 105, 0) 100%);

  // accent-colors
  --yellow-main: #ffe550;
  --button-green: #bbf330;
  --dark-green: #7EB101;
}
