<section class="favorites">
    <div class="container">
  <h2 class="favorites__title">Some of Our Favorites</h2>
  <p class="favorites__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </p>
  <ul class="favorites__list">
    <li class="favorites__item">
      <picture>
  <source srcset="./src\images\favorites\gamburger1xdeck.png 1x, ./src\images\favorites\gamburger2xdeck.png 2x" media="(min-width: 1280px)"  type="img/png" />
  <source srcset="./src\images\favorites\rgamburger1xtablet.png 1x, ./src\images\favorites\gamburger2xtablet.png 2x" media="(min-width: 768px)"  type="img/png" />
  <source srcset="./src\images\favorites\gamburger1xmob.png 1x, ./src\images\favorites\gamburger1xmob.png 2x" media="(max-width: 767px)"  type="img/png" />
  <img src="../images/favorites/gamburger1xmob.png" alt="Gamburger" width=""/>
</picture>
    </li>
    <li class="favorites__item"></li>
    <li class="favorites__item"></li>
    <li class="favorites__item"></li>
    <li class="favorites__item"></li>
    <li class="favorites__item"></li>
  </ul>
</section>
</div>