<header class="header">
  <div class="header__container">
    <nav class="nav">
      <a class="logo" href="">
        <img class="logo__picture" src="#" alt="логотип" />
      </a>

      <ul class="nav-list">
        <li class="nav-list__item">
          <a class="link" href="#">Home</a>
        </li>

        <li class="nav-list__item">
          <a class="link" href="#">About</a>
        </li>

        <li class="nav-list__item">
          <a class="link" href="#">Service</a>
        </li>

        <li class="nav-list__item">
          <a class="link" href="#">Menu</a>
        </li>

        <li class="nav-list__item">
          <a class="link" href="#">Contact</a>
        </li>
      </ul>
    </nav>

    <button class="order-button" type="button">Order Now</button>

    <!-- Кнопка мобильного меню -->
    <button
      type="button"
      class="menu-button"
      aria-expanded=""
      aria-controls=""
      data-menu-button
    >
      <svg width="" height="" aria-label="Переключатель мобильного меню">
        <use class="icon-cross" href="#"></use>
        <use class="icon-menu" href="#"></use>
      </svg>
    </button>
  </div>
</header>
