<header class="header">
  <div class="container">
    <a class="logo" href="">
        <svg class="logo__image" width="71" height="52">
          <use href="#">logo</use>
        </svg>
    <nav class="nav">
      <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" href="#">Home</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">About</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Service</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Menu</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Contact</a>
          </li>
        </ul>
    </nav>

    <button class="order-button" type="button">Order Now</button>

    <!-- Кнопка мобильного меню -->
    <button
      class="menu-button__icon"
      type="button"
      aria-expanded=""
      aria-controls=""
      data-menu-button
    >
      <svg width="28" height="28" aria-label="Mobile menu switch">
        <use class="menu-button__icon--cross" href="#"></use>
        <use class="menu-button__icon--menu" href="#"></use>
      </svg>
    </button>
  </div>
</header>
