<section class="hero section">
  <div class="container hero container">
    <div class="hero__box">
      <h1 class="hero__title">Enjoy Your Favorite<br />Food From Anywhere</h1>
      <p class="hero__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <button class="order-button" type="button">Order Now</button>
    </div>
    <div class="hero__dishes"></div>
  </div>
</section>
