<!--hero-->
<section class="hero">
  <div class="hero__box">
    <h1 class="section__title">Enjoy Your Favorite<br />Food From Anywhere</h1>
    <p class="section__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    <button class="order-button" type="button">Order Now</button>
  </div>
  <div class="hero__dishes">
    <ul class="hero__list">
      <li class="hero__item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="../images/2@1x_ld_w.webp 1x, ../images/2@2x_ld_w.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="../images/2@1x_ld.jpg 1x, ../images/2@2x_ld.jpg 2x"
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="../images/2@1x_md_w.webp 1x, ../images/2@2x_md_w.webp 2x"
            type="image/webp"
          />
          <source
            media="max-width: 767px)"
            srcset="../images/2@x_md.jpg 1x, ../images/2@2x_md.jpg 2x"
            type="image/web.jpg"
          />
          <img
            src="../images/2@1x_ld.jpg"
            class="hero__image"
            alt="falafel with lavash and cream sauce"
          />
        </picture>
      </li>
      <li class="hero__item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="../images/3@1x_ld_w.webp 1x, ../images/3@2x_ld_w.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="../images/3@1x_ld.jpg 1x, ../images/3@2x_ld.jpg 2x"
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="../images/3@1x_md_w.webp 1x, ../images/3@2x_md_w.webp 2x"
            type="image/webp"
          />
          <source
            media="max-width: 767px)"
            srcset="../images/3@1x_md2jpg 1x, ../images/3@2x_md.jpg 2x"
            type="image/web.jpg"
          />
          <img
            src="../images/3@1x_md.jpg"
            class="hero__image"
            alt="Greek salad with spicy cheese"
          />
        </picture>
      </li>
      <li class="hero__item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="../images/4@1x_ld_w.webp 1x, ../images/4@2x_ld_w.webp 2x"
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="../images/4@1x_ld.jpg 1x, ../images/4@2x_ld.jpg 2x"
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="../images/4@1x_md_w.webp 1x, ../images/4@2x_md_w.webp 2x"
            type="image/webp"
          />
          <source
            media="max-width: 767px)"
            srcset="../images/4@1x_md2jpg 1x, ../images/4@2x_md.jpg 2x"
            type="image/web.jpg"
          />
          <img
            src="../images/4@1x_md.jpg"
            class="hero__image"
            alt="Greek salad with spicy cheese"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
