<section class="offerings__section">
    <div>
        <h2 class="section__title">What’s Special About Our Offerings</h2>
        <p class="section__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
            enim
            in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo
            diam
            libero vitae erat.</p>
    </div>
    <div>
        <ul class="offerings__list">
            <li>
                <svg class="offerings__icon" width="48px" height="48px">
                    <use href="#"></use>
                </svg>
                <h3 class="offerings__subtitle">Fastest Delivery</h3>
                <p class="offerings__item">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Suspendisse varius enim in eros.</p>
            </li>
            <li>
                <svg class="offerings__icon" width="48px" height="48px">
                    <use href="#"></use>
                </svg>
                <h3 class="offerings__subtitle">Easy to order</h3>
                <p class="offerings__item">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Suspendisse varius enim in eros.</p>
            </li>
        </ul>
    </div>
    <div>
        <button class="order-button order-button--white" type="button">Order Now</button>
        <a class="offerings__link" href="#" target="_blank">Read More</a>
    </div>
</section>