<section class="offerings__section">
    <div>
        <h2 class="offerings__title">What’s Special About Our Offerings</h2>
        <p class="offerings__main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
            enim
            in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo
            diam
            libero vitae erat.</p>
    </div>
    <div>
        <ul class="offerings__list">
            <li>
                <svg class="offerings__icon-svg" width="48px" height="48px">
                    <use class="offerings__icon-use" href="../src/images/offerings/svg/offerings-rocket.svg"></use>
                </svg>
                <h3 class="offerings__list-title">Fastest Delivery</h3>
                <p class="offerings__list-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Suspendisse varius enim in eros.</p>
            </li>
            <li>
                <svg class="offerings__icon-svg" width="48px" height="48px">
                    <use class="offerings__icon-use" href="../src/images/offerings/svg/offerings-click.svg"></use>
                </svg>
                <h3 class="offerings__list-title">Easy to order</h3>
                <p class="offerings__list-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Suspendisse varius enim in eros.</p>
            </li>
        </ul>
    </div>
    <div>
        <button class="offerings__button" type="button">Order Now</button>
        <a class="offerings__read-more-link" href="http://" target="_blank">Read More</a>
    </div>
</section>