<section class="section">
<div class="container">
    <h2 class="section__title">Subscribe To Get Special Offers</h2>
    <p class="section__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim
in eros elementum tristique.</p>
    <form class="subscribe">
        <input class="subscribe__input" type="email" name="user-email" id="user-email" placeholder="Enter your email"
        required />
        <button class="subscribe__button" type="submit">
            <span class="subscribe__text">Subscribe</span>
        </button>
    </form>
</div>
</section>