.nav {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.nav__list {
  display: flex;
  margin-right: 28px;
  gap: 28px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.nav__link {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: color var(--transition), transform var(--transition);

  &:hover,
  &:focus {
    color: var(--button-green);
  }

  @media screen and (max-width: 1279px) {
    color: var(--black);
  }
}

.nav__link::after {
  content: '';
  position: absolute;
  bottom: 11px;

  display: block;
  width: 100%;
  height: 1px;
  background-color: inherit;
  transition: background-color var(--transition);
}

.nav__link:hover.nav__link::after {
  background-color: var(--button-green);
}

.current-page {
  font-weight: 700;
  color: var(--button-green);

  &:after {
    content: '';
    position: absolute;
    bottom: 11px;

    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--button-green);
  }
}


.footer__top {

  .nav {
    display: flex;
    position: relative;
    top: -6px;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
     top: -14px;
    left: -160px;    
    }
  }

  .nav__list {
      @media screen and (max-width: 767px) {
        display: flex;
        gap: 0;
        flex-direction: column;
        margin-right: 81px;
      }
    }

    .nav__item {
      padding-top: 10px;
      padding-bottom: 10px;
    }
}




