// .mobile-menu {
//   @media screen and (max-width: 767px) {
//     display: none;
//   }
// }

.nav__list {
  display: flex;
  flex-direction: column;
  // margin-right: 28px;

  // @media screen and (min-width: 768px) {
  //   flex-direction: row;
  //   gap: 28px;
  // }
}

.nav__link {
  @media screen and (max-width: 1279px) {
    color: var(--black);
  }

  @media screen and (min-width: 768px) {
    transition: color var(--transition);

    &:hover,
    &:focus {
      color: var(--button-green);
      text-decoration-line: underline;
    }
  }
}
