
.nav {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.nav__list {
  display: flex;
  margin-right: 28px;
    gap: 28px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
   
  }
}


.nav__link {
  padding-top: 10px;
  padding-bottom: 10px;
  @media screen and (max-width: 1279px) {
    color: var(--black);
  }

  @media screen and (min-width: 768px) {
    transition: color var(--transition);

    &:hover,
    &:focus {
      color: var(--button-green);
      text-decoration-line: underline;
    }
  }
}

.current-page {
  font-weight: 700px;
  color: var(--button-green);
}