.customers__section{
    
    padding-top: 60px;
    padding-bottom: 60px;
}
.customers__title{
font-size: 28px;
line-height: 1.17;
margin-bottom: 20px;
}
.customers__description{
    margin-bottom: 32px;
}

.customers__item{
    width: 280px;
    background-color: white;
    &:not(:last-child){
        margin-bottom: 24px;
    }
}
.star__list{
    display: flex;
}
.star__item:not(:last-child){
    margin-right: 3.45px;
}
.star__svg{
    background-color: aqua;
}