.reviews__section{
    background-image: url(/src/images/customers/background-mobile1.jpg);
    padding-top: 60px;
    padding-bottom: 60px;
}
.reviews__title{

}



.reviews__svg{
    fill:#FFE550;
    background-color: aqua;
}