.favorites {
  padding-bottom: 60px;
  padding-top: 60px;

  @media screen and (min-width: 768px) {
    padding-bottom: 100px;
    padding-top: 100px;
  }
}

.favorites__thumb {
  margin-bottom: 60px;
  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}
.favorites__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
}

.favorites__item {
  width: 280px;
  height: 282px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border: 11px solid var(--yellow-main);
  border-radius: 50%;

  transition: border-color var(--transition);
  &:nth-child(3) {
    margin-bottom: 0;
  }

  &:hover,
  &:focus {
    border-color: var(--button-green);
  }

  @media screen and (max-width: 767px) {
    &:nth-child(n + 4) {
      display: none;
    }
  }

  @media screen and (min-width: 768px) {
    width: 336px;
    height: 338px;

    border-width: 14px;

    flex-basis: calc((100% - 32px * 1) / 2);
  }

  @media screen and (min-width: 1280px) {
    width: 395px;
    height: 397px;
    border-width: 16px;

    flex-basis: calc((100% - 32px * 2) / 3);
  }
}
