.footer {
  box-shadow: var(--box-shadow);
  @media screen and (max-width: 767px) {
    background-image: url(../images/footer/left-apple@mobile_1x.png),
      url(../images/footer/right-orange@mobile_1x.png),
      url(../images/footer/bottom-apple-banana@mobile_1x.png);
    background-repeat: no-repeat;
    background-position: left 132px, right top, 63% bottom;
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/footer/fruits@tablet_1x.png);
    background-repeat: no-repeat;
    background-position: right bottom;
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/footer/fruits@desktop_1x.png);
    background-repeat: no-repeat;
    background-position: right bottom;
  }
}

.footer__top {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
  
  @media screen and (min-width: 768px) {
    margin-bottom: 100px;
    align-items: baseline;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 80px;
  }

  .nav {
    margin-right: 101px;
  }

  .nav__list {
    margin-top: 4px;
    margin-bottom: 36px;

    @media screen and (min-width: 768px) {
      flex-wrap: nowrap;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .nav__link {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;

    color: var(--black);

    transition: color var(--transition);

    &:hover,
    &:focus {
      color: var(--button-green);
    }
  }
}

.policy {
  text-align: center;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.policy__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    gap: 20px;
  }
}

.policy__link {
  padding-top: 16px;
  padding-bottom: 16px;

  font-size: 10px;
  line-height: calc(12 / 10);
  text-decoration-line: underline;
  color: var(--dark-green);

  transition: color var(--transition);

  &:hover,
  &:focus {
    color: var(--button-green);
  }
}

.copyright {
  font-size: 10px;
  line-height: calc(12 / 10);
  outline: 10px solid red;
}
