.header {
    padding-top: 10px;
    padding-bottom: 10px;
}
.header__container {
    display: flex;
    align-items: center;
}


.menu-button {
    display: inline-flex;
        margin-left: auto;
        border: none;
        background-color: transparent;
    
        z-index: 3;
@media screen and (min-width: 768px) {
      display: none;
    }
}

.menu__list {
    padding-right: 20px;
}

.nav {
    @media screen and (max-width: 767px) {
            display: none;
        }
}

.nav__list {
    @media screen and (min-width: 768px) {
            flex-direction: row;
            margin-right: 28px;
            gap: 28px;
        }
}

// Кнопка заказа //
.order-button {
    width: 100px;
    height: 32px;
    background: #BBF330;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    padding: 6px 17px 5px 16px;

    @media screen and (max-width: 767px) {
            display: none;
        }

}

// Мобильное меню


.menu-button.is-open .menu-button__icon--cross {
    display: block;
}

.mobile-menu {
    display: none;
    position: fixed;
    width: 130px;
    top: 4%;
    right: 6%;
    border-radius: 30px 0px 30px 30px;
    background-color: #FFFFFF;
    padding-right: 0px;
    padding-top: 4px;
    padding-left: 16px;
    padding-bottom: 0px;
    font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
    border: 1px solid blue;

    &.is-open {
        display: flex;
        flex-direction: column;
    }
}

.menu__item {
    padding-bottom: 16px;
}
