.header__container {
    display: flex;
    align-items: center;
}


.menu-button {
@media screen and (min-width: 768px) {
      display: none;
    }
}

.nav__list {
    @media screen and (min-width: 768px) {
            flex-direction: row;
            margin-right: 28px;
            gap: 28px;
        }
}

// Кнопка заказа //
.order-button {
    width: 100px;
    height: 32px;
    background: #BBF330;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    padding: 6px 17px 5px 16px;

    @media screen and (max-width: 767px) {
            display: none;
        }

}



