.dishes__list {
    display: flex;
}

.dishes__item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 11px solid var(--yellow-main);
    padding: 10px;
    width: 528px;
    height: 528px;
    outline: 2px solid var(--yellow-main);
}
=======
// .hero__image {
// border: 11px solid var(--yellow-main);
// border-radius: 50%;
// padding: 30px;
// }

// .hero__dishes {
// display: block;
// border: 11px solid var(--yellow-main);
// border-radius: 50%;
// padding: 30px;
// }

