.dishes__list {
    display: flex;
}

.dishes__item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 11px solid var(--yellow-main);
    padding: 10px;
    width: 700px;
    height: 700px;
    outline: 2px solid var(--yellow-main);
}

.hero__image {
    display: flex;
    width: 292px;
    height: 292px;
}